*~
/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/scratch
/src-java
/.classpath
/.project
/.lein-repl-history
/target/repl-port
/target/stale/extract-native.dependencies
/pom.xml.asc
/target/provided/stale/extract-native.dependencies
